:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.post-container {
  position: relative;
  margin: 32px auto;
  display: flex;
  max-width: 800px;
  min-width: 320px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 10px;

  img {
    max-width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }

  h1:hover {
    cursor: pointer;
  }

  .post-shorten-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 32px;

    .post-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0;
      color: #87a6bc;

      .author-info {
        display: flex;
        align-items: center;

        img {
          width: 26px;
          margin-right: 8px;
          border-radius: 50%;
        }
      }

      .rest-info {
        fa-icon {
          margin-left: 24px;
          margin-right: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .post-container {
    margin: 32px 0;
    border-radius: 0;
    flex-direction: column;

    img {
      border-radius: 0;
      margin-bottom: 16px;
      max-width: 100%;
      max-height: 200px;
    }

    .post-shorten-content {
      margin: 0 16px;

      .post-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .author-info, .rest-info {
          margin: 8px 0;
        }

        .rest-info {
          fa-icon {
            margin-left: 4px;
          }

          :nth-child(2) {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

