<div [@inOutAnimation]="postPreviews.length">
  <div *ngFor="let post of postPreviews"
       class="post-container">
    <img src="{{post.thumbnailUrl}}">

    <div class="post-shorten-content">
      <h1 [routerLink]="'post-details/' + post.ID" [innerHtml]="post.title"></h1>
      <div [innerHTML]="post.excerpt"></div>

      <div class="post-info">
        <div class="author-info">
          <img [src]="post.author.avatarUrl">
          <span>{{post.author.name}}</span>
        </div>

        <div class="rest-info">
          <fa-icon [icon]="clockIcon"></fa-icon>
          <span>{{post.date | date}}</span>

          <fa-icon [icon]="commentIcon"></fa-icon>
          <span>{{post.commentCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="page"
  [pageSize]="5"
  [collectionSize]="numberOfPosts"
  [maxSize]="5"
  [rotate]="true"
  [boundaryLinks]="true"
  (pageChange)="loadPosts($event)"></ngb-pagination>
